@import '../../index.scss';
.forms-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.forms-register {
  cursor: pointer;
  &:hover {
    font-weight: bold;
    transition: font-weight 0.8s;
  }
}
.forms-email-confirmation-wrapper {
  text-align: center;
  .warning {
    color: $danger;
  }
  span {
    text-decoration: underline;
    font-weight: bold;
  }

  .logged-in {
    color: $success;
  }
}
