@import '../../index.scss';
.memories-search-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $fieldSet-bg-colour;
  border: 1px solid $border-colour-light;
  margin-bottom: 0.3em;
  padding: 0.1em 0;
}
.memories-search-wrapper p {
  font-size: 0.8rem;
}

.memories-component-wrapper {
  padding-bottom: 0.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  gap: 0.4em;
  .memories-card-wrapper {
    border: 1px solid $border-colour-light;
    padding: 0.2em;
    background-color: $main-bg-colour;
    color: $main-font-colour;
    margin-bottom: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
      rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: fit-content;
  }
  .memories-card-wrapper:nth-child(even) {
    background-color: $main-font-colour;
    color: $main-bg-colour;
  }
  .memories-completed {
    display: none;
  }
}
