@import '../../index.scss';
.error-component {
  width: 100%;
  font-size: $notice-message-size;
  background-color: $danger;
  color: $main-bg-colour;
  padding: 0.2em;
  border: none;
  border-radius: 2px;
}
