@import '../../index.scss';

.memories-image-wrapper {
  // border: 1px solid $danger;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;

  .memories-image {
    margin: 0 auto;
    width: 100%;
  }
}
