@import '../../index.scss';

.highlight-box {
  background-color: #f0f8ff; // A light aliceblue color
  border-left: 4px solid $info;
  padding: 1em;
  margin: 1em 0;
}

/* Ensure comfortable spacing before section headings */
.fieldSet h2 {
  margin-top: 16px;
}
