@import '../../index.scss';

.card-wrapper {
  width: 100%;
  max-width: 460px;
  min-width: 300px;

  .card-header {
    display: flex;
    justify-content: space-between;
    .late {
      color: $danger;
      font-size: 0.8em;
      font-weight: bold;
    }
    .early {
      color: $success;
      font-size: 0.8em;
    }
  }
  .card-body {
    .memories-priority-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.6em;
  }
  .card-buttons {
    display: flex;
    justify-content: space-between;
  }
}
