$main-bg-colour: rgba(245, 245, 245, 1);
$main-font-colour: rgba(12, 12, 12, 1);
$secondary-bg-colour: hsl(23, 100%, 50%);
$light-orange: rgba(236, 127, 55, 1);
$burnt-orange: rgba(190, 79, 12, 1);
$danger: crimson;
$link-colour: lightblue;
$success: rgba(92, 184, 92, 1);
$warning: rgba(240, 173, 78, 1);
$rating-colour: orange;
$border-colour: rgba(200, 200, 200, 0.5);
$border-colour-dark: hsla(0, 1%, 33%, 0.2);
$border-colour-light: hsla(0, 0%, 78%, 0.2);
$fieldSet-bg-colour: hsla(0, 0%, 45%, 0.1);
$header-height: 28px;
$footer-height: 82px;
$image-shadow-colour: rgba(12, 12, 12, 0.4);
$notice-message-size: 1.2em;
$info: #54b4d3;
