@use './tokens' as *;

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: $canvas;
}

::-webkit-scrollbar-thumb {
  border: 3px solid $canvas;
  border-radius: 999px;
  background: $border-colour-dark;
}

::-webkit-scrollbar-thumb:hover {
  background: $brand-hover;
}
