@use './tokens' as *;
@use './formControls' as form;

textarea {
  width: 100%;
  min-height: 150px;
  padding: 0.75rem;
  resize: vertical;

  @include form.interactive-field;
}

textarea.invalid {
  border-left: 4px solid $danger;
}

textarea.entered {
  border-left: 4px solid $success;
}
